ul {
  list-style: none;
  width: 400px;
}
li {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
.yellow {
  background: #ffefa0;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.pink{
  background-color: pink;
}
.arenguade {
  background-color: green;
}
.green {
  background-color: green;
}
.orange {
  background: orange;
}
.pink {
  background-color: pind;
}
