 
body{
    font-family: 'Courier New', Courier, monospace;
}
img{
    width: 100%;
}
.blueBG{
    background-color: #075070;
}
footer div{
    font-size: 30px;
}
.missing{
    background-color: red;
    align-content: center;
    font-size: 40px;
}